{% extends 'layouts/user.html.twig' %}

{% block title %}
  {{ 'card_bag.title'|trans }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('scripts/templates/views/user/card_bag/index.js') }}"></script>
{% endblock %}

{% block user_body %}
  <div class="flex flex-col w-full h-full">
    {# Header panel #}
    <div class="flex items-center justify-between gap-2">
      {# Search bar #}
      <div class="w-full max-w-[700px]" @search="">
        <twig:Input type="search" name="search" placeholder="{{ 'card_bag.search_placeholder'|trans }}" size="9xl" />
      </div>
      {# Control buttons #}
      <div class="flex items-center gap-2">
        <twig:Dropdown>
          <twig:block name="dropdown_toggler">
            <twig:Button variant="primary" class="flex items-center" title="{{ 'action.create'|trans }}">
              <div class="w-5 h-5">
                {{ include('icons/plus.svg') }}
              </div>
              <div class="ms-2">
                {{ 'action.create'|trans }}
              </div>
            </twig:Button>
          </twig:block>
          <twig:block name="dropdown_content">
            <div class="py-1">
              <button class="block px-4 py-2 cursor-pointer w-full text-start" @click="$refs.addNewBagModal.open=true">
                {{ 'card_bag.create_options.new_bag'|trans }}
              </button>
              <button class="block px-4 py-2 cursor-pointer w-full text-start" @click="$refs.addNewCardModal.open=true">
                {{ 'card_bag.create_options.new_card'|trans }}
              </button>
            </div>
          </twig:block>
        </twig:Dropdown>
        <twig:Dropdown>
          <twig:block name="dropdown_toggler">
            <twig:Button variant="secondary" class="flex items-center px-1!" title="{{ 'card_bag.other_option'|trans }}">
              <div class="w-5 h-5 flex items-center justify-center">
                <div class="w-3 h-3 opacity-70">
                  {{ include('icons/option.svg') }}
                </div>
              </div>
            </twig:Button>
          </twig:block>
          <twig:block name="dropdown_content">
            <div class="py-1">
              <button class="flex items-center px-4 py-2 gap-1 cursor-pointer w-full hover:text-[#101828]!" @click="$refs.moveObjectModal.open=true">
                <div class="w-5 h-5 text-inherit!">
                  {{ include('icons/move_folder.svg') }}
                </div>
                <div class="ms-2 text-inherit!">
                  {{ 'action.move'|trans }}
                </div>
              </button>
              <button class="flex items-center px-4 py-2 gap-1 cursor-pointer w-full text-(--red)!" @click="$refs.deleteObjectModal.open=true">
                <div class="w-5 h-5 text-inherit!">
                  {{ include('icons/trash.svg') }}
                </div>
                <div class="ms-2 text-inherit!">
                  {{ 'action.delete'|trans }}
                </div>
              </button>
            </div>
          </twig:block>
        </twig:Dropdown>
      </div>
    </div>
  {# Display body #}
  </div>
{% endblock %}

{% block modals %}
  <twig:Modal modalTitle="{{ 'card_bag.create_options.new_bag'|trans }}" actionButtonText="{{ 'action.add'|trans }}" actionButtonVariant="primary" @modal-action="$refs.newBagFormRef.submit()" x-ref="addNewBagModal">
    <twig:block name="modal_body">
      <twig:Form x-ref="newBagFormRef" action="{{ constant('App\\Config\\Routes::CREATE_NEW_BAG_ROUTE_URL') }}" method="POST">
        <div>
          <twig:Input type="text" name="new_bag_name" label="{{ 'card_bag.bag_name'|trans }}" aria-label="{{ 'card_bag.bag_name'|trans }}" required />
        </div>
        <div class="my-3">
          <twig:Input type="textarea" name="new_bag_description" label="{{ 'card_bag.bag_description'|trans }}" aria-label="{{ 'card_bag.bag_description'|trans }}" rows="3" />
        </div>
      </twig:Form>
    </twig:block>
  </twig:Modal>
  <twig:Modal modalTitle="{{ 'card_bag.create_options.new_card'|trans }}" actionButtonText="{{ 'action.add'|trans }}" actionButtonVariant="primary" @modal-action="alert('add card')" x-ref="addNewCardModal"></twig:Modal>
  <twig:Modal modalTitle="{{ 'action.move'|trans }}" actionButtonText="{{ 'action.confirm'|trans }}" actionButtonVariant="primary" @modal-action="alert('move object')" x-ref="moveObjectModal"></twig:Modal>
  <twig:Modal modalTitle="{{ 'action.delete'|trans }}" actionButtonText="{{ 'action.delete'|trans }}" actionButtonVariant="danger" @modal-action="alert('delete object')" x-ref="deleteObjectModal"></twig:Modal>
{% endblock %}
