{% extends 'layouts/authentication.html.twig' %}

{% block title %}
	{{ 'forgot_password.title'|trans }}
{% endblock %}

{% set email = email | default('') %}

{% block auth_body %}
	<div data-turbo="false">
		<h1 class="font-bold text-2xl text-center">{{ 'forgot_password.header'|trans }}</h1>
		{% if error.general is defined %}
			<div class="py-5 px-10 text-center border border-dashed border-(--red) rounded-lg bg-[#f8d7da] text-[#721c24] break-words mt-5">{{ error.general[0] }}</div>
		{% endif %}
		<twig:Form action="{{ constant('App\\Config\\Routes::FORGOT_PASSWORD_SUBMIT_ROUTE')['URL'] }}" method="POST" class="mt-5">
			<div>
				<twig:Input name="email" label="{{ 'forgot_password.email'|trans }}" aria-label="{{ 'forgot_password.email'|trans }}" type="text" autocomplete="email" value="{{ email }}" error="{{ error.email is defined ? error.email[0] : '' }}"/>
			</div>
			<twig:Button type="submit" variant="primary" class="my-5">{{'forgot_password.reset_password'|trans }}</twig:Button>
			<p class="text-center">
				<a href="{{ constant('App\\Config\\Routes::LOGIN_ROUTE')['URL'] }}" class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70">{{ 'forgot_password.back_to_login'|trans }}</a>
			</p>
		</twig:Form>
	</div>
{% endblock %}
