{% extends 'layouts/authentication.html.twig' %}

{% block title %}
	{{ 'login.title'|trans }}
{% endblock %}

{% set email = email | default('') %}
{% set remember_me = remember_me | default('') %}

{% block auth_body %}
	<div>
		<h1 class="font-bold text-2xl text-center">{{ 'login.header'|trans }}</h1>
		<div class="my-5 flex flex-col gap-3">
			<div class="relative hover:cursor-pointer hover:opacity-80 active:opacity-70 overflow-hidden h-[50px]">
				<div class="absolute flex items-center justify-center gap-3 border border-gray-400 rounded-md py-2 px-4 w-full select-none h-[50px]">
					<img class="w-8 h-8" src="/svg/google.svg"/>
					{{ 'login.login_with'|trans({'service_name': 'Google'}) }}
				</div>
				<div class="opacity-[0.001] z-50 py-1">
					<div class="g_id_signin scale-[2] overflow-hidden" data-type="standard" data-theme="filled_blue" data-text="signin_with" data-shape="rectangular" data-logo_alignment="left" data-width="1000"></div>
				</div>
				<div id="g_id_onload" data-client_id="{{ google_oauth_client_id }}" data-context="signin" data-ux_mode="redirect" data-auto_prompt="false" data-login_uri="{{ url(constant('App\\Config\\Routes::LOGIN_WITH_GOOGLE_ROUTE')['NAME']) }}" data-state="{{ constant('App\\Config\\Constants::PARAMETERS')['locale'] }}={{ get_locale() }}"></div>
			</div>
			{# <div class="flex-1 flex items-center justify-center gap-3 border border-gray-400 rounded-md py-2 hover:cursor-pointer hover:opacity-80 active:opacity-70 select-none">
				<img class="w-9 h-9 ms-3" src="/svg/facebook.svg"/>
				{{ 'login.login_with'|trans({'service_name': 'Facebook'}) }}
			</div> #}
		</div>
		<div class="mt-5 flex items-center">
			<div class="border-t flex-1 border-gray-400"></div>
			<p class="text-center mx-5 pb-1">{{ 'login.or'|trans }}</p>
			<div class="border-t flex-1 border-gray-400"></div>
		</div>
		{% if error.general is defined %}
			<div class="py-5 px-10 text-center border border-dashed border-(--red) rounded-lg bg-[#f8d7da] text-[#721c24] break-words">{{ error.general[0] }}</div>
		{% endif %}
		<twig:Form action="{{ constant('App\\Config\\Routes::LOGIN_SUBMIT_ROUTE')['URL'] }}" method="POST" class="mt-5">
			<div>
				<twig:Input name="email" label="{{ 'login.email'|trans }}" aria-label="{{ 'login.email'|trans }}" type="text" autocomplete="email" value="{{ email }}" error="{{ error.email is defined ? error.email[0] : '' }}"/></div>
			<div class="my-3">
				<twig:Input name="password" label="{{ 'login.password'|trans }}" aria-label="{{ 'login.password'|trans }}" type="password" autocomplete="current-password" error="{{ error.password is defined ? error.password[0] : '' }}"/>
			</div>
			<div class="flex justify-between items-center">
				<twig:ClickInput name="remember_me" label="{{ 'login.remember_me'|trans }}" type="checkbox" checked="{{ remember_me|default('') == 'checked' }}"/>
				<a class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70" href="{{ constant('App\\Config\\Routes::FORGOT_PASSWORD_ROUTE')['URL'] }}">{{ 'login.forgot_password'|trans }}</a>
			</div>
			<twig:Button type="submit" variant="primary" class="my-5">{{'login.submit_button'|trans }}</twig:Button>
			<p class="text-center">{{ 'login.dont_have_account'|trans }}
				<a href="{{ constant('App\\Config\\Routes::REGISTER_ROUTE')['URL'] }}" class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70">{{ 'login.register'|trans }}</a>
			</p>
		</twig:Form>
	</div>
{% endblock %}

{% block head_javascripts %}
	<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
