{% extends 'layouts/authentication.html.twig' %}

{% block title %}
  {{ 'reset_password.title'|trans }}
{% endblock %}

{% set input_mode = input_mode | default(false) %}
{% set email = email | default('') %}
{% set token = token | default('') %}

{% block auth_body %}
  {% if error is defined and not input_mode %}
    <div class="flex flex-col items-center">
      <div class="w-[50px] h-[50px] text-(--red)">
        {{ include('icons/fail.svg') }}
      </div>
      {% if error.general is defined %}
        <p class="text-justify mt-3">
          {{ error.general[0] }}
        </p>
      {% endif %}
      <p class="text-center mt-5">
        <a href="{{ constant('App\\Config\\Routes::LOGIN_ROUTE_URL') }}" class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70">
          {{ 'reset_password.back_to_login'|trans }}
        </a>
      </p>
    </div>
  {% elseif not error is defined and not input_mode %}
    <div class="flex flex-col items-center">
      <div class="w-[50px] h-[50px]">
        {{ include('icons/success.svg') }}
      </div>
      <p class="text-justify mt-3">
        {{ 'reset_password.success'|trans }}
      </p>
      <p class="text-center mt-5">
        <a href="{{ constant('App\\Config\\Routes::LOGIN_ROUTE_URL') }}" class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70">
          {{ 'reset_password.back_to_login'|trans }}
        </a>
      </p>
    </div>
  {% else %}
    <div>
      <h1 class="font-bold text-2xl text-center">
        {{ 'reset_password.header'|trans }}
      </h1>
      {% if error.general is defined %}
        <div class="py-5 px-10 text-center border border-dashed border-(--red) rounded-lg bg-[#f8d7da] text-[#721c24] break-words mt-5">
          {{ error.general[0] }}
        </div>
      {% endif %}
      <twig:Form action="{{ constant('App\\Config\\Routes::RESET_PASSWORD_SUBMIT_ROUTE_URL') }}?email={{ email }}&token={{ token }}" method="POST" class="mt-5">
        <div>
          <twig:Input name="email" type="hidden" value="{{ email }}" />
          <twig:Input name="token" type="hidden" value="{{ token }}" />
        </div>
        <div>
          <twig:Input name="new_password" label="{{ 'reset_password.new_password'|trans }}" aria-label="{{ 'reset_password.new_password'|trans }}" type="password" required autocomplete="off" error="{{ error.new_password is defined ? error.new_password[0] : '' }}" />
        </div>
        <div class="mt-3">
          <twig:Input name="confirm_new_password" label="{{ 'reset_password.confirm_new_password'|trans }}" aria-label="{{ 'reset_password.confirm_new_password'|trans }}" type="password" required autocomplete="off" error="{{ error.confirm_new_password is defined ? error.confirm_new_password[0] : '' }}" />
        </div>
        <twig:Button type="submit" variant="primary" class="my-5">
          {{ 'reset_password.submit'|trans }}
        </twig:Button>
        <p class="text-center">
          <a href="{{ constant('App\\Config\\Routes::LOGIN_ROUTE_URL') }}" class="text-(--blue) hover:cursor-pointer hover:opacity-80 active:opacity-70">
            {{ 'reset_password.back_to_login'|trans }}
          </a>
        </p>
      </twig:Form>
    </div>
  {% endif %}
{% endblock %}
