<div class="fixed bottom-5 right-5 z-50 flex flex-col gap-2" x-ref="appMenuDropdownRef">
  <div x-show="dropdowns.appMenuDropdown" x-collapse.duration.100ms class="flex flex-col gap-2">
    {% if get_locale() == constant('App\\Config\\Constants::LOCALE_VI') %}
      <twig:Form class="w-10 h-10 rounded-full cursor-pointer hover:opacity-80 flex items-center justify-center app-setting-button" method="POST" action="{{ constant('App\\Config\\Routes::SET_LOCALE_ROUTE_URL')|replace({'{locale}': constant('App\\Config\\Constants::LOCALE_EN')}) }}" onclick="submitForm(this)" title="{{ 'app_setting.set_english'|trans }}">
        <div class="w-6 h-6">
          {{ include('icons/en.svg') }}
        </div>
      </twig:Form>
    {% elseif get_locale() == constant('App\\Config\\Constants::LOCALE_EN') %}
      <twig:Form class="w-10 h-10 rounded-full cursor-pointer hover:opacity-80 flex items-center justify-center app-setting-button" method="POST" action="{{ constant('App\\Config\\Routes::SET_LOCALE_ROUTE_URL')|replace({'{locale}': constant('App\\Config\\Constants::LOCALE_VI')}) }}" onclick="submitForm(this)" title="{{ 'app_setting.set_vietnamese'|trans }}">
        <div class="w-6 h-6">
          {{ include('icons/vi.svg') }}
        </div>
      </twig:Form>
    {% endif %}
    <div class="w-10 h-10 rounded-full cursor-pointer hover:opacity-80 flex items-center justify-center app-setting-button" @click="setDarkMode(!darkMode)" x-bind:title="darkMode ? '{{ 'app_setting.set_light_mode'|trans }}' : '{{ 'app_setting.set_dark_mode'|trans }}'">
      <div x-show="darkMode" class="w-6 h-6">
        {{ include('icons/light_mode.svg') }}
      </div>
      <div x-show="!darkMode" class="w-6 h-6">
        {{ include('icons/dark_mode.svg') }}
      </div>
    </div>
  </div>
  <div class="w-10 h-10 rounded-full cursor-pointer hover:opacity-80 flex items-center justify-center app-setting-button" @click="dropdowns.appMenuDropdown = !dropdowns.appMenuDropdown" x-bind:title="dropdowns.appMenuDropdown ? '{{ 'app_setting.close'|trans }}' : '{{ 'app_setting.setting'|trans }}'">
    <div x-show="!dropdowns.appMenuDropdown" class="w-6 h-6">
      {{ include('icons/setting.svg') }}
    </div>
    <div x-show="dropdowns.appMenuDropdown" class="w-4 h-4">
      {{ include('icons/close.svg') }}
    </div>
  </div>
</div>
