<div class="flex items-center gap-3 p-3 select-none rounded-lg w-50" x-bind:class="darkMode?'bg-[#1e2022] hover:bg-gray-800':'bg-[#ebeef1] hover:bg-gray-300'" title="{{ bagDescription }}" ondblclick="window.location.href='{{ href }}'">
  <div class="w-10 h-10" x-bind:class="darkMode ? 'text-white' : 'text-gray-500'">
    {{ include('icons/folder_solid.svg') }}
  </div>
  <h2>{{ bagName }}</h2>
  <div class="ms-auto">
    {% if model is defined and model %}
      <twig:ClickInput type="checkbox" class="cursor-default!" name="{{ bagName }}_checkbox" @dblclick.stop x-model="{{ model }}" value="{{ bagId }}"></twig:ClickInput>
    {% else %}
      <twig:ClickInput type="checkbox" class="cursor-default!" name="{{ bagName }}_checkbox" @dblclick.stop value="{{ bagId }}"></twig:ClickInput>
    {% endif %}
  </div>
</div>
