{% set base_class = "w-full rounded-lg px-3.5 py-3 outline-none focus:ring-2 focus:ring-offset-0 transition-all peer select-none" %}
{% set error_class = error is empty
    ? "border border-gray-400 focus:ring-blue-200 focus:ring-offset-white focus:border-blue-500"
    : "border border-[var(--red)] text-red-900 placeholder-red-700 focus:ring-red-300" %}
{% set password_padding = (type == 'password') ? '!pe-9' : '' %}
{% set search_padding = (type == 'search') ? '!ps-14 !pe-9' :'' %}
{# force text size to be base #}
{% set size_class = "!text-base" %}
{% set final_class = base_class ~ ' ' ~ error_class ~ ' ' ~ password_padding ~ ' ' ~ search_padding ~ ' ' ~ size_class %}
{% set final_color_class = base_class ~ ' ' ~ error_class ~ ' h-12 cursor-pointer !w-20 !p-2' %}
{% set normal_class = base_class ~ ' border border-gray-400 focus:ring-blue-200 focus:ring-offset-white focus:border-blue-500 ' ~ password_padding ~ ' ' ~ search_padding ~ ' ' ~ size_class %}
{% set normal_color_class = base_class ~ ' border border-gray-400 focus:ring-blue-200 focus:ring-offset-white focus:border-blue-500 h-12 cursor-pointer !w-20 !p-2' %}

{# If the input is "search", when clicking on the search icon, alpine will dispatch a "search" event. The parent component's container will need to catch that. Example in templates\views\user\card_bag\index.html.twig #}
<div class="w-full flex flex-col component-input" {% if type == 'password' %} x-data="{ showPassword: false }" {% endif %} {% if type == 'search' %} x-data="{ hasValue: false }" {% endif %}>
  {% if label is not empty %}
    <label {% if name|default(id) is not empty %} for="{{ name|default(id) }}" {% endif %} class="text-sm text-zinc-400 mb-1">
      {{ label }}
      {% if required %}
        <span class="text-(--red)">
          *
        </span>
      {% endif %}
    </label>
  {% endif %}

  <div class="w-full relative">
    {% if type == 'search' %}
      <div class="w-10 h-10 absolute left-2 top-1 cursor-pointer rounded-full p-4 flex items-center justify-center hover:text-(--blue) active:text-(--blue)" x-bind:class="darkMode?'text-white hover:bg-gray-800 active:bg-gray-700':'hover:bg-gray-100 active:bg-gray-200'" @click="$dispatch('search', $refs.{{ name|default(id) }}.value)">
        <div class="w-5 h-5 absolute">
          {{ include('icons/search.svg') }}
        </div>
      </div>
    {% endif %}

    {% if type == 'textarea' %}
      <textarea x-ref="{{ name|default(id) }}" name="{{ name|default(id) }}" id="{{ id|default(name) }}" {% if label is not empty %} aria-label="{{ label }}" {% endif %} {{ attributes.defaults({ class: final_class } ) }} x-on:reset="$refs.{{ name|default(id) }}.value = '{{ defaultValue }}'; $refs.{{ name|default(id) }}_error?.remove(); $refs.{{ name|default(id) }}.className = '{{ normal_class }}'">{{ value|default('') }}</textarea>
    {% elseif type == 'color' %}
      <input x-ref="{{ name|default(id) }}" type="color" name="{{ name|default(id) }}" id="{{ id|default(name) }}" {% if label is not empty %} aria-label="{{ label }}" {% endif %} {{ attributes.defaults({ class: final_color_class } ) }} value="{{ value|default('') }}" x-on:reset="$refs.{{ name|default(id) }}.value = '{{ defaultValue }}'; $refs.{{ name|default(id) }}_error?.remove(); $refs.{{ name|default(id) }}.className = '{{ normal_color_class }}'">
    {% else %}
      <input @input="hasValue = $el.value.length > 0" x-ref="{{ name|default(id) }}" {% if type == 'password' %} x-bind:type="showPassword ? 'text' : 'password'" {% elseif type == 'search' %} type='text' {% else %} type="{{ type }}" {% endif %} name="{{ name|default(id) }}" id="{{ id|default(name) }}" {% if label is not empty %} aria-label="{{ label }}" {% endif %} {{ attributes.defaults({ class: final_class } ) }} value="{{ value|default('') }}" x-on:reset="$refs.{{ name|default(id) }}.value = '{{ defaultValue }}'; $refs.{{ name|default(id) }}_error?.remove(); $refs.{{ name|default(id) }}.className = '{{ normal_class }}'">
    {% endif %}

    {% if error is not empty %}
      <div id="{{ name|default(id) }}_error" x-ref="{{ name|default(id) }}_error" class="mt-1 text-xs text-(--red)">
        {{ error }}
      </div>
    {% endif %}
    {% if type == 'password' %}
      <div class="absolute cursor-pointer w-5 h-5 opacity-80 hover:opacity-60 active:opacity-40 right-3 top-3.75" @click="showPassword = !showPassword">
        <div x-show="showPassword">
          {{ include('icons/show.svg') }}
        </div>
        <div x-show="!showPassword">
          {{ include('icons/hide.svg') }}
        </div>
      </div>
    {% endif %}
    {% if type == 'search' %}
      <div x-show="hasValue" class="w-10 h-10 absolute right-2 top-1 cursor-pointer rounded-full p-4 flex items-center justify-center" x-bind:class="darkMode?'text-white hover:bg-gray-800 active:bg-gray-700':'hover:bg-gray-100 active:bg-gray-200'" @click="$refs.{{ name|default(id) }}.value = ''; hasValue = false;">
        <div class="w-4 h-4 absolute">
          {{ include('icons/close.svg') }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
