{% set base_class = "w-full rounded-lg px-3.5 py-3 outline-none focus:ring-2 focus:ring-offset-0 transition-all peer select-none" %}
{% set error_class = error is empty
    ? "border border-gray-400 focus:ring-blue-200 focus:ring-offset-white focus:border-blue-500"
    : "border border-[var(--red)] text-red-900 placeholder-red-700 focus:ring-red-300" %}
{# force text size to be base #}
{% set size_class = "!text-base" %}
{% set final_class = base_class ~ ' ' ~ error_class ~ ' ' ~ size_class %}

<div class="w-full relative component-input">
  <select x-ref="{{ name|default(id) }}" name="{{ name|default(id) }}" id="{{ id|default(name) }}" {% if label is not empty %} aria-label="{{ label }}" {% endif %} {{ attributes.defaults({ class: final_class } ) }} placeholder="">
    {% block options %}{% endblock %}
  </select>
  {% if label is not empty %}
    <label {% if name|default(id) is not empty %} for="{{ name|default(id) }}" {% endif %} {% if error is not empty %} class="pointer-events-none absolute left-2.5 -top-2.5 max-w-[calc(100%-18px)] truncate px-1 text-xs text-(--red) transition-all peer-placeholder-shown:top-3 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-(--red)" {% else %} class="pointer-events-none absolute left-2.5 -top-2.5 max-w-[calc(100%-18px)] truncate px-1 text-xs text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-blue-400" :class="darkMode ? 'bg-(--dark-theme-bg-color)' : 'bg-(--white)'" {% endif %}>
      {{ label }}
      {% if required %}
        <span class="text-(--red)">
          *
        </span>
      {% endif %}
    </label>
  {% endif %}
  {% if error is not empty %}
    <div class="mt-1 text-xs text-(--red)">
      {{ error }}
    </div>
  {% endif %}
</div>
